{% load crispy_forms_tags %} 
<div class="row g-5">
    <div class="col">
        <div class="container-fluid pt-5 sticky-top preferences_sticky">
            <div>
                <h3 class="mb-3">Preferences</h3>
                <form class="preference-submission-form" method="post">
                    {% crispy form helper %}
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="container-fluid p-0">
            <h3 class="mt-5 mb-3">Projects</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Group Size</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in unit.projects.all %}
                        {% if project.description %}
                            <tr class="accordion accordion-flush" id="accordian-{{project.id}}">
                                <th scope="row">{{ project.number }}</th>
                                <td class="accordion-header">
                                    <button class="accordion-button collapsed gap-2 p-0" style="box-shadow: none; background: transparent;" type="button" data-bs-toggle="collapse" data-bs-target="#accordian-{{project.id}}-description" aria-expanded="false" aria-controls="accordian-{{project.id}}-description">
                                        {{ project.name }}
                                    </button>
                                    <div id="accordian-{{project.id}}-description" class="accordion-collapse collapse mt-3" data-bs-parent="#accordian-{{project.id}}">
                                        <div class="accordion-body p-0">
                                            {{project.description}}
                                        </div>
                                    </div>
                                </td>
                                <td>{{ project.min_students }} - {{ project.max_students }}</td>
                                <td>
                                    <div class="d-flex gap-2 flex-column justify-content-end">
                                        {% if project in preferred_projects %}
                                            <a class="btn btn-danger btn-sm" href="">Remove from Preferences</a>
                                        {% else %}
                                            <a class="btn btn-primary btn-sm" href="">Add to Preferences</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <th scope="row">{{ project.number }}</th>
                                <td>{{ project.name }}</td>
                                <td>{{ project.min_students }} - {{ project.max_students }}</td>
                                <td>
                                    <div class="d-flex flex-column gap-2 justify-content-end">
                                        {% if project in preferred_projects %}
                                            <a class="btn btn-danger btn-sm" href="">Remove from Preferences</a>
                                        {% else %}
                                            <a class="btn btn-primary btn-sm" href="">Add to Preferences</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>