{% load crispy_forms_tags %} 
<div class="row g-3">
    <div class="col-sm-12 col-md-12 col-lg-5">
        <div class="container-fluid p-0 pt-3">
            <h3 class="mb-3">Projects</h3>
            {% if object_list %}
            <table id="project_table" class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Project</th>
                        <th scope="col">Group Size</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in object_list %}
                        {% include 'student/project_row.html' with project=project %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="container-fluid pt-3 sticky-top preferences_sticky">
            <div>
                <h3 class="mb-3">Preferences</h3>
                <p id="form_minimum" class="m-3">You must submit at least {{ unit.minimum_preference_limit }} project preferences.</p>
                {% if form.non_form_errors %}
                    <div class="alert alert-block alert-danger">
                        <ul class="m-0">
                            {{ form.non_form_errors|unordered_list }}
                        </ul>
                    </div>
                {% endif %}
                <div class="border rounded overflow-hidden" style="min-height: 200px;">
                    <table id="preference_table" class="table table align-middle m-0">
                        <thead class="table-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Rank</th>
                                <th scope="col">Project</th>
                                <th scope="col">Group Size</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if preferences %}
                                {% for preference in preferences %}
                                    {% include 'student/project_row.html' with is_preferred=True project=preference.project rank=preference.rank %}
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <form class="preference-submission-form m-3" method="post">
                    {% crispy form helper %}
                </form>
            </div>
        </div>
    </div>
</div>
