{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

<div class="row g-4">
    <div class="col">
        <div class="container-fluid p-0 pt-3 preferences_sticky">
            <div>
                <h3 class="mb-3">Preferences</h3>
                {% if unit.minimum_preference_limit and unit.maximum_preference_limit %}
                    <p class="my-3">You must submit at least {{ unit.minimum_preference_limit }} and at most {{ unit.maximum_preference_limit }} project preferences.</p>
                {% else %}
                    {% if unit.minimum_preference_limit %}
                        <p class="my-3">You must submit at least {{ unit.minimum_preference_limit }} project preferences.</p>
                    {% endif %}
                    {% if unit.maximum_preference_limit %}
                        <p class="my-3">You must submit at most {{ unit.maximum_preference_limit }} project preferences.</p>
                    {% endif %}
                {% endif %}
                <div class="border rounded overflow-hidden" style="min-height: 200px;">
                    <table id="preference_table" class="table table align-middle m-0">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="small"></th>
                                <th scope="col" class="small">Rank</th>
                                <th scope="col" class="small">Project ID</th>
                                <th scope="col" class="small w-100">Project Name</th>
                                <th scope="col" class="small"></th>
                                <th scope="col" class="small">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if preferences %}
                                {% for preference in preferences %}
                                    {% include 'student/project_row.html' with in_preference_table=True project=preference.project rank=preference.rank %}
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                {% if form.non_form_errors %}
                    <div class="alert alert-block alert-danger my-3">
                        <ul class="m-0">
                            {{ form.non_form_errors|unordered_list }}
                        </ul>
                    </div>
                {% endif %}
                <form class="preference-submission-form" method="post">
                    {% crispy form helper %}
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="container-fluid p-0 pt-3">
            <h3 class="mb-4">Projects</h3>
            {% if unit.limit_by_major %}
                <p>Your project selection has been limited by project area.</p>
                <p>If you cannot see the projects you expected to see, please contact your supervisor.</p>
            {% endif %}
            <div class="my-3">
                <h4 class="fs-5">Search</h4>
                <div class="d-flex gap-2 flex-wrap">
                    <div class="form-floating overflow-hidden">
                        <input class="form-control project-search" data-field="identifier" id="project-identifier-search" type="text" placeholder="Project ID" size="10">
                        <label for="project-identifier-search">Project ID</label>
                    </div>
                    <div class="form-floating flex-grow-1">
                        <input class="form-control project-search" data-field="name" id="project-name-search" type="text" placeholder="Project Name">
                        <label for="project-name-search">Project Name</label>
                    </div>
                </div>
            </div>
            
            {% if object_list %}
            <table id="project_table" class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col" class="small">Project ID</th>
                        <th scope="col" class="small w-100">Project Name</th>
                        <th scope="col" class="small"></th>
                        <th scope="col" class="small">Add</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in object_list %}
                        {% include 'student/project_row.html' with project=project %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
