{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% comment %} Based on bootstrap5/table_inline_formset.html {% endcomment %}

{% specialspaceless %}
{% if formset_tag %}
<form {{ flat_attrs }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
{% endif %}
    {% if formset_method|lower == 'post' and not disable_csrf %}
        {% csrf_token %}
    {% endif %}
    <div>
        {{ formset.management_form|crispy }}
    </div>
    <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-sm align-middle">
        <thead>
            {% if formset.readonly and not formset.queryset.exists %}
            {% else %}
                <tr>
                    {% comment %} <th></th> {% endcomment %}
                    <th class="text-center">Rank</th>
                    <th>Project</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            {% endif %}
        </thead>
        <tbody id="preference_form_table_body">
            <tr class="d-none empty-form">
                {% comment %} <td><i class="bi bi-grip-vertical"></i></td> {% endcomment %}
                <td class="preference_index text-center">{{forloop.counter}}</td>
                {% for field in formset.empty_form %}
                    {% include 'bootstrap5/field.html' with tag="td" form_show_labels=False %}
                {% endfor %}
                <td><button type="button" id="preference-__prefix__-move-up" class="preference_move_up border-0 btn"><i class="bi bi-arrow-up"></i></button></td>
                <td><button type="button" id="preference-__prefix__-move-down" class="preference_move_down border-0 btn"><i class="bi bi-arrow-down"></i></button></td>
                <td><button type="button" id="preference-__prefix__-remove" class="btn"><i class="bi bi-x-lg"></i></button></td>
            </tr>
            {% for form in formset %}
                {% if form_show_errors and not form.is_extra %}
                    {% include "bootstrap5/errors.html" %}
                {% endif %}
                <tr class="preference_form" id="preference-{{forloop.counter0}}">
                    {% comment %} <td><button><i class="bi bi-grip-vertical"></i></button></td> {% endcomment %}
                    <td class="preference_index text-center">{{forloop.counter}}</td>
                    {% for field in form %}
                        {% include 'bootstrap5/field.html' with tag="td"  form_show_labels=False %}
                    {% endfor %}
                    <td><button type="button" id="preference-{{forloop.counter0}}-move-up" onclick="move_preference({{forloop.counter0}})" class="preference_move_up border-0 btn"><i class="bi bi-arrow-up"></i></button></td>
                    <td><button type="button" id="preference-{{forloop.counter0}}-move-down" onclick="move_preference({{forloop.counter0}}, false)" class="preference_move_down border-0 btn"><i class="bi bi-arrow-down"></i></button></td>
                    <td><button type="button" id="preference-{{forloop.counter0}}-remove" onclick="remove_preference({{forloop.counter0}})" class="btn"><i class="bi bi-x-lg"></i></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "bootstrap5/inputs.html" %}
{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}