{% extends 'core/base.html' %}
{% load static %}

{% block main %}
    <a class="nav-link d-flex gap-2 align-items-center" href="{% url 'index' %}">
        <i class="bi bi-chevron-left"></i><span>Unit List</span>
    </a>
    <h1 class="mt-3">{{ unit }}</h1>
    <hr class="my-3">
    <table class="table table-borderless table-sm">
        <tbody>
            <tr><th class="fw-semibold">Year</th><td>{{ unit.year }}</td></tr>
            <tr><th class="fw-semibold">Semester</th><td>{{ unit.semester }}</td></tr>
            {% if unit.preference_submission_start and unit.preference_submission_end %}
            <tr><th class="fw-semibold">Preference Submission Timeframe</th><td>{{ unit.preference_submission_start }} - {{ unit.preference_submission_end }}</td></tr>
            {% endif %}
        </tbody>
    </table>
    <hr class="my-3">
    {% if unit.preference_submission_start and unit.preference_submission_end %}
        {% if unit.preference_submission_open %}
            {% include 'student/preference_submission_open.html' %}
        {% else %}
            {% include 'student/preference_submission_closed.html' %}
        {% endif %}
    {% else %}
        {% include 'student/preference_submission_not_set.html' %}
    {% endif %}
{% endblock %}

{% block extrascripts %}<script type="text/javascript" src="{% static 'scripts/preference_submission.js' %}"></script>{% endblock %}