{% extends 'registration/base.html' %} 
{% block title %}{{ block.super }} - Change Password{% endblock %} 
{% block heading %}Change Password{% endblock %}
{% block content %}
    <form method="post">
        <div class="form-content">
            {% csrf_token %} {{ form.as_div }}
        </div>
        <div class="form-buttons">
            <button type="submit">Change Password</button>
            <button class="secondary" onClick="javascript:history.go(-1);">Back</button>
        </div>
    </form>
{% endblock %}