{% extends 'manager/unit/base.html' %}
{% load crispy_forms_tags %} 

{% block content %}
    <div class="mb-4">
        <h2>{{ unit }}</h2>
    </div>
    <div class="my-5">
        <form method="post">
            <div class="form-content">
                {% csrf_token %} {% crispy form %}
            </div>
        </form>
    </div>
    <div class="my-4 d-flex gap-2">
        <a href="{% url 'manager-unit-students' unit.id %}" class="btn btn-{% if unit.students_count %}primary{% else %}secondary{% endif %}">Students ({{ unit.students_count }})</a>
       <a href="{% url 'manager-unit-projects' unit.id %}" class="btn btn-{% if unit.projects_count %}primary{% else %}secondary{% endif %}">Projects ({{ unit.projects_count }})</a>
    </div>
    <div class="my-4 d-flex gap-2">
        {% comment %} preference submission timeframe - ended {% endcomment %}
        <a class="btn btn-secondary">Preferences</a>
    </div>
    <div class="mt-4 d-flex gap-2">
        {% comment %} preference submission timeframe - ended {% endcomment %}
        <a href="#" class="btn btn-primary">Start Allocation</a>
        {% comment %} allocation completed {% endcomment %}
       <a href="#" class="btn btn-secondary">View Allocation Results</a>
    </div>
{% endblock %}
