/* NAVBAR */
nav.navbar {
	height: 70px;
}
.preferences_sticky {
	top: 70px;
}

/* PREFERENCE SUBMISSION TIMEFRAME */
.preference_submission_timeframe input:first-of-type {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0;
}
.preference_submission_timeframe input:last-of-type {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* HEADER NAV-ITEMS */
.nav-item,
.nav-item .nav-link,
.dropdown-item {
	font-size: 0.85rem;
}

/* PROJECT INFO TOGGLES */
.project_info_toggle_button.open {
	transition: transform 1s;
	transform: rotate(180deg);
}
.project_info_container {
	border-bottom: transparent;
}

/* FIX STRIPING */
.stripe {
	--bs-table-color-type: var(--bs-table-striped-color);
	--bs-table-bg-type: var(--bs-table-striped-bg);
}

/* TABLES */
#preference_table > tbody > tr:last-child {
	border-bottom: transparent;
}

/* SIDEBAR NAV */
#sidebar_container {
	transition: width 1s;
}
@media (min-width: 768px) {
	#sidebar_container {
		max-width: 270px;
	}
	#sidebar_container:is(.col-md-1, .col-lg-1) {
		width: 100px;
	}
}

/* TABLES - ORDERING */
table.table thead th.orderable a::after {
	display: inline-block;
	font-family: bootstrap-icons !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: -0.125em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: inherit;

	margin-left: 5px;
}
table.table thead th.asc a::after {
	/* sort down */
	content: '\f575';
}
table.table thead th.desc a::after {
	/* sort up */
	content: '\F57B';
}
