.preference_submission_timeframe {
}
.preference_submission_timeframe input:first-of-type {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0;
}
.preference_submission_timeframe input:last-of-type {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*  */
.nav-item,
.nav-item .nav-link,
.dropdown-item {
	font-size: 0.85rem;
}
