{% extends 'manager/base.html' %}

{% block after_content %}
    {% if allocation_warnings %}
        {% for warning in allocation_warnings %}
            <div class="alert alert-{{ warning.type }} {{ warning.classes }}" role="alert">{{ warning.content }}</div>
        {% endfor %}
    {% endif %}
    {% if unit.completed_allocation %}
    <div class="alert alert-{% if unit.is_allocated %}success{% else %}danger{% endif %}" role="alert">
        <div class="fw-bold">Allocation: {{ unit.get_allocation_descriptive }}</div>
        {% if unit.is_allocated %}
            The allocation of students to projects was completed successfully.
        {% else %}
            The allocation of students to projects failed.
        {% endif %}
    </div>
    {% endif %}
    {% if unit.is_allocated %}
    <div class="alert alert-danger">This unit has already been allocated, allocating again will override the current allocation.<br>If this allocation fails, the previous successful allocation will be retained.</div>
    {% endif %}
    <div>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="submit" name="start_allocation" value="{% if unit.is_allocated %}Override Allocation{% else %}Start Allocation{% endif %}" class="btn btn-{% if unit.is_allocated %}danger{% else %}primary{% endif %}" {% if not can_start_allocation %}disabled{% endif %}>
        </form>
    </div>
{% endblock %}