{% extends 'core/base.html' %}
{% load crispy_forms_tags %} 

{% block main %}
    <div class="row g-5">
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="container-fluid p-0">
                <div class="card bg-body-tertiary">
                    <div class="card-body">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link d-flex gap-2 align-items-center" href="{% url 'index' %}">
                                    <i class="bi bi-chevron-left"></i><span>Unit List</span>
                                </a>
                            </li>
                            {% if nav_items %}
                            {% for nav_item in nav_items %}
                            <li class="nav-item">
                                {% if nav_item.url %}
                                    <a href="{{ nav_item.url }}" class="nav-link {{ nav_item.classes }} {% if request.path == nav_item.url %}active fw-bold{% endif %}" {% if request.path == nav_item.url %}aria-current="page"{% endif %}>
                                        {{ nav_item.label }}
                                    </a>
                                {% else %}
                                    <span class="nav-link {{ nav_item.classes }}">
                                        {{ nav_item.label }}
                                    </span>
                                {% endif %}
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container-fluid p-0">
                <div>
                    <h2>{% block page_title %}{% endblock %}</h2>
                    <hr class="my-4">
                    {% block extra_header %}{% endblock %}
                </div>
                <div>
                    {% block content %}
                        {% if form %}
                            <div>
                                {% block form %}
                                    {% load crispy_forms_tags %} 
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %} {% crispy form %}
                                    </form>
                                {% endblock %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
