{% extends 'core/base.html' %}

{% block main %}

{% if page_breadcrumbs %}
<div class="my-3">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for breadcrumb in page_breadcrumbs %}
                {% if breadcrumb.url %}
                    <li class="breadcrumb-item {% if request.path == breadcrumb.current %}active{% endif %}" {% if request.path == breadcrumb.url %}aria-current="page"{% endif %}>
                        <a class="link-offset-4 link-offset-4-hover link-underline link-secondary link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ breadcrumb.url }}">{{ breadcrumb.label }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
</div>
{% endif %}
<div class="row g-5">
    {% if page_sidebar_items %}
    <div class="col-sm-12 col-md-4 col-lg-3" id="sidebar_container">
        <div class="sticky-top z-1 py-3" style="top: 70px;">
            <div class="d-grid bg-body-tertiary border rounded">
                <button class="btn fs-5" type="button" data-toggle="collapse" data-target="#sidebar" aria-expanded="true" aria-controls="sidebar" onclick="toggle_sidebar()"><i class="bi bi-list"></i></button>
                <div id="sidebar">
                    <div class="card bg-body-tertiary border-0 border-top rounded-0 rounded-bottom">
                        <div class="card-body">
                            {% include 'manager/base_sidebar.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col">
        <div class="container-fluid px-0 py-3">
            {% if page_warnings %}
                {% for warning in page_warnings %}
                    <div class="alert alert-{{ warning.type }} {{ warning.classes }}" role="alert">{{ warning.content }}</div>
                {% endfor %}
            {% endif %}
            <div class="d-flex gap-5 row-gap-3 flex-wrap">
                <div class="me-auto">
                    {% if page_title %}
                        {% if  page_title_url %}
                            <a class="text-body text-decoration-none" href="{{ page_title_url }}"><h1>{{ page_title }}</h1></a>
                        {% else %}
                            <h1>{{ page_title }}</h1>
                        {% endif %}
                    {% endif %}
                    {% if page_subtitle %}
                        <h2>{{ page_subtitle }}</h2>
                    {% endif %}
                </div>
                {% if page_actions %}{% block page_actions %}
                    <div class="d-flex gap-2 align-items-start flex-wrap">
                    {% for page_action in page_actions %}
                        {% if page_action.url %}
                            <a class="btn btn-primary {{ page_action.classes }} {% if page_action.disabled or request.path == page_action.url %}disabled{% endif %}" {% if page_action.disabled or request.path == page_action.url %}aria-disabled="true"{% endif %} {% if request.path == page_action.url %}aria-current="page"{% endif %} href="{{ page_action.url }}">{{ page_action.label }}</a>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endblock %}{% endif %}
            </div>
            <hr class="my-4">
            {% if page_info %}
                <div class="px-2 d-flex gap-3 column-gap-5 flex-wrap {% if page_info_column %}flex-column{% endif %}">
                    {% for info in page_info %}
                        <div class="d-flex gap-3 {% if info.wide %}flex-column{% else %}flex-wrap{% endif %} {{ info.classes }}"><div class="fw-semibold {{ info.label_classes }}">{{ info.label }}</div><div class="{{ info.content_classes }}">{{ info.content }}</div></div>
                    {% endfor %}
                </div>
                <hr class="my-4">
            {% endif %}

            {% block before_content %}{% endblock %}
            {% if form %}
                {% block form %}
                    {% include 'manager/base_form.html' %}
                {% endblock %}
            {% endif %}
            {% if table %}
                {% block table %}
                    {% include 'manager/base_table.html' %}
                {% endblock %}
            {% endif %}
            {% if tables %}
                {% block tables %}
                    {% include 'manager/base_tables.html' %}
                {% endblock %}
            {% endif %}
            {% block after_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
