{% extends 'core/base.html' %}
{% block content %}
    {% comment %} <div class="mx-4 mb-4 mt-5">
        <h2>Units</h2>
    </div> {% endcomment %}
    <div class="my-3 row row-cols-1 row-cols-md-2 g-4">
        {% for unit in object_list %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a class="text-decoration-none" href="{% url 'manager-unit-detail' unit.id %}"><h5 class="card-title">{{ unit.code }}: {{ unit.name }}</h5></a>
                        <h6 class="card-subtitle text-body-secondary">{{ unit.year }}, {{ unit.semester }}</h6>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'manager-unit-delete' unit.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="unit-none">
                <div>No units available.</div>
            </div>
        {% endfor %}
    </div>
    <div class="m-3 row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <a class="btn btn-primary" href="{% url 'manager-unit-new' %}">Add unit</a>
        </div>
    </div>
{% endblock %}