{% extends 'core/base.html' %}
{% block main %}
<div class="container">
    <div class="my-4 row row-cols-1 row-cols-md-2 g-4">
        {% for unit in object_list %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a class="text-decoration-none" href="{% url 'manager-unit-detail' unit.id %}">{{ unit }}</a></h5>
                        <h6 class="card-subtitle text-body-secondary">{{ unit.year }}, {{ unit.semester }}</h6>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'manager-unit-delete' unit.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="unit-none">
                <div>No units available.</div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="{% url 'manager-unit-new' %}">Add unit</a>
    </div>
    <div class="my-5 d-flex gap-3 justify-content-center align-items-center">
        {% if page_obj.has_previous %}
            <a class="btn btn-sm btn-outline-secondary" href="?page=1">&laquo; first</a>
            <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}