{% extends 'manager/base.html' %}

{% block before_content %}
    {% if unit.preferences_count > 0 %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="my-3 mx-2 d-flex gap-2 flex-wrap">
                <button type="submit" name="download_results" class="btn btn-primary" {% if unit.is_allocating %}disabled{% endif %}><i class="bi bi-download"></i><span class="ms-1">Download Student Preferences as CSV</span></button>
                <button type="submit" name="email_results" class="btn btn-primary" {% if unit.is_allocating %}disabled{% endif %}><i class="bi bi-envelope-at"></i><span class="ms-1">Email Student Preferences as CSV</span></button>
            </div>
        </form>
    {% endif %}
{% endblock %}