{% extends 'core/base.html' %}
{% block main %}
    {% url 'manager:index' as manager_index_url %}
    {% url 'student:index' as student_index_url %}

    {% if user.is_student %}
        <p class="my-4">If you don't see your unit here, please contact your unit coordinator.</p>
    {% endif %}
    {% if user.is_manager and request.path == manager_index_url %}
        <div class="d-flex justify-content-center my-4">
            <a class="btn btn-primary" href="{% url 'manager:unit_create' %}">Add unit</a>
        </div>
    {% endif %}
    {% if filter %}
        {% load crispy_forms_tags %} 
        <div class="accordion my-4" id="accordion-filters">
            <div class="accordion-item">
                <h2 class="accordion-header"><button class="accordion-button {% if not has_filter %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="{% if has_filter %}true{% else %}false{% endif %}" aria-controls="filters">Filters</button></h2>
                <div id="filters" class="accordion-collapse collapse  {% if has_filter %}show{% endif %}" aria-labelledby="filters" data-bs-parent="#accordion-filters"> 
                    <div class="accordion-body">
                        {% crispy filter.form filter.form.helper %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="mb-4 row row-cols-1 row-cols-md-2 g-4">
        {% for unit in object_list %}
            <div class="col">
                <div class="card">
                    {% if not unit.is_active %}
                    <div class="card-header bg-secondary-subtle text-center text-uppercase" style="font-size: 0.75rem;">This unit is inactive.</div>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title mb-0">
                            <a class="text-decoration-none" href="{% if user.is_manager and request.path == manager_index_url %}{% url 'manager:unit' unit.id %}{% endif %}{% if user.is_student and request.path == student_index_url %}{% url 'student:unit-detail' unit.id %}{% endif %}">{{ unit }}</a>
                        </h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex gap-3">
                                <div class="fw-semibold">Year</div><div>{{ unit.year }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex gap-3">
                                <div class="fw-semibold">Semester</div><div>{{ unit.semester }}</div>
                            </div>
                        </li>
                        {% if unit.preference_submission_start and unit.preference_submission_end %}
                        <li class="list-group-item">
                            <div class="d-flex gap-3">
                                <div class="fw-semibold">Preference Submission Timeframe</div><div>{{ unit.get_preference_submission_start }} - {{ unit.get_preference_submission_end }}</div>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                    {% if user.is_manager and request.path == manager_index_url %}
                        <div class="card-footer">
                            <a href="{% url 'manager:unit_update' unit.id %}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{% url 'manager:unit_delete' unit.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="unit-none">
                <p>No units available.</p>
            </div>
        {% endfor %}
    </div>
    {% if object_list %}
        <div class="mt-5 d-flex gap-3 justify-content-center align-items-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-sm btn-outline-secondary" href="?page=1">&laquo; first</a>
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}