{% extends 'core/base.html' %}
{% block main %}
    {% if user.is_student %}
        <p>If you don't see your unit here, please contact your unit convenor.</p>
    {% endif %}
    <div class="mb-4 row row-cols-1 row-cols-md-2 g-4">
        {% for unit in object_list %}
            <div class="col">
                <div class="card">
                    {% if not unit.is_active %}
                    <div class="card-header bg-warning-subtle text-center text-uppercase" style="font-size: 0.75rem;">This unit is inactive.</div>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title mb-0">
                            {% if user.is_manager or user.is_student %}
                                <a class="text-decoration-none" href="{% if user.is_manager %}{% url 'manager:unit' unit.id %}{% endif %}{% if user.is_student %}{% url 'student:unit-detail' unit.id %}{% endif %}">{{ unit }}</a>
                            {% endif %}
                        </h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex gap-3">
                                <div class="fw-semibold">Year</div><div>{{ unit.year }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex gap-3">
                                <div class="fw-semibold">Semester</div><div>{{ unit.semester }}</div>
                            </div>
                        </li>
                        {% if unit.preference_submission_start and unit.preference_submission_end %}
                        <li class="list-group-item">
                            <div class="d-flex gap-3">
                                <div class="fw-semibold">Preference Submission Timeframe</div><div>{{ unit.preference_submission_start }} - {{ unit.preference_submission_end }}</div>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                    {% if user.is_manager %}
                        <div class="card-footer">
                            <a href="{% url 'manager:unit-delete' unit.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="unit-none">
                <p>No units available.</p>
            </div>
        {% endfor %}
    </div>
    {% if user.is_manager %}
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="{% url 'manager:unit-new' %}">Add unit</a>
        </div>
    {% endif %}
    {% if object_list %}
        <div class="mt-5 d-flex gap-3 justify-content-center align-items-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-sm btn-outline-secondary" href="?page=1">&laquo; first</a>
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}