/* BODY */
body {
	font-family: 'Open Sans', Roboto, 'Helvetica Neue', Arial, serif;
	background: var(--body-bg);
	color: var(--body-fg);

	min-height: 100vh;
}

/* EXTEND BOOTSTRAP */

/* LINKS 
a,
a:link,
a:visited {
	text-decoration: none;
	color: var(--link-fg);
	transition: color 0.5s, background 0.5s;
}
a:focus,
a:hover {
	color: var(--link-hover-color);
}

/* HEADINGS 
h1 {
	margin: 0;
	font-weight: 300;
	font-size: 1.5rem;
}

/* HEADER 
#header {
	background-color: var(--header-bg);
	color: var(--header-color);
}
#header a:is(:link, :visited) {
	color: var(--header-link-color);
}
#header a:is(:link, :visited):hover {
	color: var(--header-link-hover-color);
}

/* FORMS 
form {
	display: flex;
	gap: 20px;
	flex-direction: column;
}

/* FORM CONTENT & BUTTONS 
form .form-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
form .form-content > * {
	display: flex;
	flex-direction: column;
}
form .form-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

/* FORM - INPUTS & BUTTONS 
input,
button {
	outline: none;
	border: none;
	margin: 0;
}

/* FORM - INPUT 
input:is([type='text'], [type='password'], [type='email'], [type='number']) {
	background-color: var(--form-field-bg) !important;
	border: 1px solid var(--form-field-border);
	border-radius: 5px;

	padding: 10px;

	font: inherit;
	font-weight: inherit;

}
:is(label, .label) {
	font-size: 0.85em;
	font-weight: 500;
	letter-spacing: 0.5px;

	text-transform: uppercase;

	padding: 5px 10px;
}

/* FIELDSETS 
fieldset {
	border-radius: 5px;
	border: 1px solid var(--form-fieldset-border);

	display: grid;
	gap: 5px;
}
fieldset legend {
	font-size: 0.85em;
	font-weight: 600;
	letter-spacing: 0.5px;

	text-transform: uppercase;
}
fieldset > div {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	align-items: center;
}

/* BUTTONS 
:is(button, .button, input[type='submit']) {
	display: block;
	padding: 6px 10px;

	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-align: center;

	color: var(--button-fg);
	background-color: var(--button-bg);
	border-radius: 5px;

	transition: 1s;
}
:is(button, .button, input[type='submit']):not(.inactive) {
	cursor: pointer;
}
:is(button, .button, input[type='submit']):hover {
	background-color: var(--button-focus-bg);
	color: var(--button-focus-fg);
}
:is(button, .button, input[type='submit']).secondary {
	color: var(--button-secondary-fg);
	background-color: var(--button-secondary-bg);
}
:is(button, .button, input[type='submit']).secondary:hover {
	color: var(--button-secondary-focus-fg);
	background-color: var(--button-secondary-focus-bg);
}
:is(button, .button, input[type='submit']).inactive,
:is(button, .button, input[type='submit']).inactive:hover {
	background-color: var(--button-inactive-bg);
}
*/
