{% extends 'manager/base.html' %}

{% block page_title %}Student List{% endblock %}
{% block extra_header %}
    <div class="my-3 mx-3 d-flex gap-5 row-gap-3 flex-wrap">
        <div class="d-flex gap-3">
            <div class="fw-semibold">No. Students</div>
            <div>{{ unit.students_count }}</div>
        </div>
    </div>
    <div class="my-3 mx-3 d-flex gap-2 flex-wrap">
        <a class="btn btn-primary" href="{% url 'manager:unit-students-new-list' unit.id %}">Upload Student List</a>
        <a class="btn btn-primary" href="{% url 'manager:unit-students-new' unit.id %}">Add Student</a>
        <a class="btn btn-danger {% if not page_obj %}disabled{% endif %}" href="{% url 'manager:unit-students-clear' unit.id %}" {% if not page_obj %}aria-disabled="true"{% endif %}>Clear Student List</a>
    </div>
    <hr class="my-4">
{% endblock %}
{% block content %}
    {% if page_obj %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Student ID</th>
                    <th scope="col">Registered</th>
                    <th scope="col">Submitted Preferences</th>
                    {% if unit.is_allocated %}
                    <th>Allocated Project</th>
                    <th>Preference for Allocated Project</th>
                    {% endif %}
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for student in page_obj %}
                    <tr>
                        <th scope="row"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'manager:unit-student-detail' unit.id student.id %}">{{ student.student_id }}</a></th>
                        <td><span class ="badge rounded-pill text-bg-{% if student.user_id %}success{% else %}danger{% endif %}"><i class="bi bi-{% if student.user_id %}check{% else %}x{% endif %}-lg"></i></span></td>
                        <td><span class ="badge rounded-pill text-bg-{% if student.project_preferences.count %}success{% else %}danger{% endif %}"><i class="bi bi-{% if student.project_preferences.count %}check{% else %}x{% endif %}-lg"></i></span></td>
                        {% if unit.is_allocated %}
                            <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'manager:unit-project-detail' unit.id student.assigned_project.id %}">{{ student.assigned_project.number }}: {{ student.assigned_project.name }}</a></td>
                            <td>{{student.assigned_preference_rank}}</td>
                        {% endif %}
                        <td>
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-danger btn-sm" href="{% url 'manager:unit-student-remove' unit.id student.id %}">Remove</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="my-5 d-flex gap-3 justify-content-center align-items-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-sm btn-outline-secondary" href="?page=1">&laquo; first</a>
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}