{% extends 'manager/base.html' %}

{% block page_title %}Student List{% endblock %}
{% block extra_header %}
    <div class="my-3 mx-3 d-flex gap-5 row-gap-3 flex-wrap">
        <div class="d-flex gap-3">
            <div class="fw-semibold">No. Students</div>
            <div>{{ unit.students_count }}</div>
        </div>
    </div>
    <div class="my-3 mx-3 d-flex gap-2 flex-wrap">
        <a class="btn btn-primary" href="{% url 'manager:unit-students-new-list' unit.id %}">Upload Student List</a>
        <a class="btn btn-primary" href="{% url 'manager:unit-students-new' unit.id %}">Add Student</a>
        <a class="btn btn-danger {% if not table.data %}disabled{% endif %}" href="{% url 'manager:unit-students-clear' unit.id %}" {% if not table.data %}aria-disabled="true"{% endif %}>Clear Student List</a>
    </div>
    <hr class="my-4">
{% endblock %}