{% extends 'manager/base.html' %}

{% block warnings %}
    {% if unit.completed_allocation and unallocated_student_count %}
        <div class="alert alert-warning">
            <p>There {% if unallocated_student_count > 1%}are{% else %}is{% endif %} {{ unallocated_student_count }} student{% if unallocated_student_count > 1%}s{% endif %} who {% if unallocated_student_count > 1%}are{% else %}is{% endif %} not allocated to a project.</p>
            <p class="mb-0">To fix this:</p>
            <ul class="my-0">
                <li>run the allocator again (this may change the project allocation if existing students), or</li>
                <li>manually add the unallocated student{% if unallocated_student_count > 1%}s{% endif %} to a project.</li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
{% block extra_header %}
    <table class="table table-borderless">
        <tbody>
            <tr><th class="fw-semibold">Total No. Students</th><td>{{ unit.students_count }}</td></tr>
            <tr><th class="fw-semibold">No. Allocated Students</th><td>{{ allocated_student_count }}</td></tr>
            <tr><th class="fw-semibold">No. Unallocated Students</th><td>{{ unallocated_student_count }}</td></tr>
        </tbody>
    </table>
    <div class="my-3 mx-2 d-flex gap-2 flex-wrap">
        <a class="btn btn-primary" href="{% url 'manager:unit-students-new-list' unit.id %}">Upload Student List</a>
        <a class="btn btn-primary" href="{% url 'manager:unit-students-new' unit.id %}">Add Student</a>
        <a class="btn btn-danger {% if not table.data %}disabled{% endif %}" href="{% url 'manager:unit-students-clear' unit.id %}" {% if not table.data %}aria-disabled="true"{% endif %}>Clear Student List</a>
    </div>
    <hr class="my-4">
{% endblock %}