{% extends 'manager/base.html' %}

{% load render_table from django_tables2 %}

{% block page_title %}Student: {{ student.student_id }}{% endblock %}
{% block extra_header %}
    <div class="my-3 mx-3 d-grid gap-5 row-gap-3">
        <div class="d-flex gap-3">
            <div class="fw-semibold">Student ID</div>
            <div>{{ student.student_id }}</div>
        </div>
        <div class="d-flex gap-3">
            <div class="fw-semibold">Registered</div>
            <div><span class ="badge rounded-pill text-bg-{% if student.user %}success{% else %}danger{% endif %}"><i class="bi bi-{% if student.user %}check{% else %}x{% endif %}-lg"></i></span></div>
        </div>
        <div class="d-flex gap-3">
            <div class="fw-semibold">Submitted Preferences</div>
            <div><span class ="badge rounded-pill text-bg-{% if student.user and student.project_preferences.count %}success{% else %}danger{% endif %}"><i class="bi bi-{% if student.user and student.project_preferences.count %}check{% else %}x{% endif %}-lg"></i></span></div>
        </div>
        {% if unit.is_allocated %}
        <div class="d-flex gap-3">
            <div class="fw-semibold">Allocated Project</div>
            <div>{% if student.assigned_project %}<a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'manager:unit-project-detail' unit.id student.assigned_project_id %}">{{ student.assigned_project.number }}: {{ student.assigned_project.name }}</a>{% else %}n/a{% endif %}</div>
        </div>
        <div class="d-flex gap-3">
            <div class="fw-semibold">Allocated Preference</div>
            <div>{% if student.assigned_preference_rank %}{{ student.assigned_preference_rank }}{% else %}n/a{% endif %}</div>
        </div>
        {% endif %}
    </div>
    <div class="my-3 mx-3 d-flex gap-2 flex-wrap">
        {% if unit.is_allocated %}
        <a class="btn btn-primary" href="{% url 'manager:unit-student-update' unit.id student.id %}">Edit Student Allocation</a>
        {% endif %}
        <a class="btn btn-danger" href="{% url 'manager:unit-student-remove' unit.id student.id %}">Remove Student From Unit</a>
    </div>
    <hr class="my-4">
{% endblock %}
{% block content %}
    {% if table and table.data %}
        <div class="mb-4 mt-5">
            <h4>Preferences</h4>
        </div>
        {% block table %}
            {% render_table table %}
        {% endblock %}
    {% endif %}
{% endblock %}