#wrapper {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(calc(50vw - 50%), calc(50vh - 50%));

	background: var(--popup-bg);
	border-radius: 5px;

	overflow: hidden;

	width: 50vw;
	min-width: 300px;
}

/* HEADER */
header {
	padding: 15px;
}

/* LOGIN FORM */
form {
	padding: 15px;
}
