{% extends 'manager/base.html' %}

{% block page_title %}Preference Distribution{% endblock %}
{% block extra_header %}
    <div class="my-3 mx-3 d-flex gap-5 row-gap-3 flex-wrap">
        <div class="d-flex gap-3">
            <div class="fw-semibold">Total No. Students</div>
            <div>{{ unit.students_count }}</div>
        </div>
        <div class="d-flex gap-3">
            <div class="fw-semibold">Total No. Students who Submitted Preferences</div>
            <div>{{ submitted_prefs_count }}</div>
        </div>
        <div class="d-flex gap-3">
            <div class="fw-semibold">Total No. Students who did not Submit Preferences</div>
            <div>{{ not_submitted_prefs_count }}</div>
        </div>
        <div class="d-grid gap-3">
            <div class="fw-semibold">Project Popularity</div>
            <div>The popularity of a project is calculated by summing the of number of students who preferred a project multiplied by the rank at which they preferred the project. Projects with a higher popularity index were more popular.</div>
        </div>
    </div>
    <hr class="my-4">
{% endblock %}