{% extends 'manager/base.html' %}
{% block page_title %}Submitted Preferences{% endblock %}
{% block extra_header %}
    <div class="my-3 mx-3 d-flex gap-5 flex-wrap">
        <div class="d-flex gap-3">
            <div class="fw-semibold">Total No. Students</div>
            <div>{{ unit.students_count }}</div>
        </div>
        <div class="d-flex gap-3">
            <div class="fw-semibold">Total No. Students who have Submitted Preferences</div>
            <div>{{ unit.submitted_prefs_students_count }}</div>
        </div>
    </div>
    <hr class="my-4">
{% endblock %}
{% block content %}
    {% if page_obj %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Project</th>
                    <th scope="col">Student</th>
                </tr>
            </thead>
            <tbody>
                {% for preference in page_obj %}
                    <tr>
                        <th class="text-center" scope="row">{{ preference.rank }}</th>
                        <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'manager:unit-projects-edit' unit.id preference.project.id %}">{{ preference.project.number }}: {{ preference.project.name }}</a></td>
                        <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'manager:unit-students-detail' unit.id preference.student.id %}">{{ preference.student.student_id }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="my-5 d-flex gap-3 justify-content-center align-items-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-sm btn-outline-secondary" href="?page=1">&laquo; first</a>
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}