{% extends 'manager/base.html' %}

{% block page_title %}Project Allocation{% endblock %}
{% block content %}
    {% if unit.preference_submission_set and unit.preference_submission_ended %}
        <div>
            {% block form %}
                {% load crispy_forms_tags %} 
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %} {% crispy form %}
                </form>
            {% endblock %}
        </div>
    {% else %}
        {% if not unit.preference_submission_set %}
            <div class="alert alert-danger" role="alert">
                A preference submission timeframe for this unit has not been set.
            </div>
        {% endif %}
        {% if not unit.preference_submission_ended %}
            <div class="alert alert-danger" role="alert">
                Allocation can only start once the preference submission timeframe for this unit has ended.
            </div>
        {% endif %}
    {% endif %}

    {% if unit.is_allocated and page_obj %}
        {% include 'manager/allocation/unit_allocation_finished.html' with projects=page_obj %}
    {% endif %}
{% endblock content %}