{% extends 'manager/base.html' %}

{% block page_title %}Project List{% endblock %}
{% block extra_header %}
    <div class="my-3 mx-3 d-flex gap-5 row-gap-3 flex-wrap">
        <div class="d-flex gap-3">
            <div class="fw-semibold">No. Projects</div>
            <div>{{ unit.projects_count }}</div>
        </div>
    </div>
    <div class="my-3 mx-3 d-flex gap-2 flex-wrap">
        <a class="btn btn-primary" href="{% url 'manager:unit-projects-new-list' unit.id %}">Upload Project List</a>
        <a class="btn btn-primary" href="{% url 'manager:unit-projects-new' unit.id %}">Add Project</a>
        <a class="btn btn-danger {% if not page_obj %}disabled{% endif %}" href="{% url 'manager:unit-projects-clear' unit.id %}" {% if not page_obj %}aria-disabled="true"{% endif %}>Clear Project List</a>
    </div>
    <hr class="my-4">
{% endblock %}
{% block content %}
    {% if page_obj %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col">Group Size</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for project in page_obj %}
                    <tr id="project-{{project.id}}" data-project-id="{{ project.id }}">
                        <th scope="row">{{ project.number }}</th>
                        <td><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'manager:unit-project-detail' unit.id project.id %}">{{ project.name }}</a></td>
                        <td>{% if project.description %}<button type="button" onclick="toggle_info({{ project.id }})" class="project_info_toggle_button btn btn-sm"><i class="bi bi-chevron-down"></i></button>{% endif %}</td>
                        <td>{{ project.min_students }} - {{ project.max_students }}</td>
                        <td>
                            <div class="d-flex gap-2 justify-content-end">
                                <a class="btn btn-primary btn-sm" href="{% url 'manager:unit-project-update' unit.id project.id %}">Edit</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'manager:unit-project-remove' unit.id project.id %}">Remove</a>
                            </div>
                        </td>
                    </tr>
                    {% if project.description %}
                    <tr class="project_info_container" data-project-id="{{ project.id }}">
                        <td colspan="12" class="p-0">
                            <div class="project_info" data-project-id="{{ project.id }}" style="display: none;">
                                <table class="table m-0">
                                    <tbody>
                                        {% if project.description %}
                                        <tr>
                                            <th>Description</th>
                                        </tr>
                                        <tr>
                                            <td class="project_description">{{ project.description }}</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <div class="my-5 d-flex gap-3 justify-content-center align-items-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-sm btn-outline-secondary" href="?page=1">&laquo; first</a>
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="btn btn-sm btn-outline-secondary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}