{% extends 'manager/base.html' %}

{% block extra_header %}
    <table class="table table-borderless">
        <tbody>
            <tr><th class="fw-semibold">Project Number</th><td>{{ project.number }}</td></tr>
            <tr><th class="fw-semibold">Project Name</th><td>{{ project.name }}</td></tr>
            <tr><th class="fw-semibold">Group Size</th><td>{{ project.min_students }} - {{ project.max_students }}</td></tr>
            {% if project.description %}
            <tr><th class="fw-semibold" colspan="2">Description</th></tr>
            <tr><td colspan="2">{{ project.description }}</td></tr>
            {% endif %}
            {% if unit.is_allocated %}
                <tr><th class="fw-semibold">Allocated Group Size</th><td>{{project.allocated_students.count}}</td></tr>
                <tr><th class="fw-semibold">Average Allocated Preference</th><td>{{project.avg_allocated_pref}}</td></tr>
            {% endif %}
        </tbody>
    </table>
    <div class="my-3 mx-2 d-flex gap-2 flex-wrap">
        <a class="btn btn-primary" href="{% url 'manager:unit-project-update' unit.id project.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'manager:unit-project-remove' unit.id project.id %}">Remove</a>
    </div>
    <hr class="my-4">
{% endblock %}
{% block content %}
    {% if tables %}
    {% load render_table from django_tables2 %}
    <ul class="nav nav-tabs border-0" id="tab" role="tablist">
        {% for table in tables %}
        {% if table and table.data %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if forloop.first %}active{% endif %} fs-6" id="{{ table.id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ table.id }}-tab-pane" type="button" role="tab" aria-controls="{{ table.id }}-tab-pane" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ table.name }}</button>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content border rounded-bottom overflow-hidden" id="tabContent">
        {% for table in tables %}
        {% if table and table.data %}
        
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ table.id }}-tab-pane" role="tabpanel" aria-labelledby="{{ table.id }}-tab" tabindex="0">
                {% render_table table %}
            </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}