/* BRANDING */
#branding {
	margin: 8px 0;
}
#branding h1 a:link,
#branding h1 a:visited {
	color: var(---header-branding-color);
}

/* BREADCRUMBS */
.breadcrumbs {
	font-weight: 300;
	font-size: 0.7rem;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
