{% extends 'core/base.html' %}
{%load crispy_forms_tags %} 

{% block content %}
    <div class="mb-4 mt-5">
        <h2><a class="text-decoration-none" href="{% url 'manager-unit-detail' unit.id %}">{{ unit }}</a></h2>
        <h3>Upload Student List</h3>
    </div>
    <div class="my-5">
        <form method="post" enctype="multipart/form-data">
            <div class="form-content">
                {% csrf_token %} {% crispy form %}
            </div>
        </form>
    </div>
{% endblock %}
